@import "tailwindcss";

body{
  background-color:white
}



.shanmukh{
/* From https://css.glass */
background: rgba(229, 223, 223, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(255, 255, 255, 0.22);
}


.fontcss{
  font-size: 400px;
  text-shadow: 20px 20px 30px rgba(0, 0, 0, 0.459);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}